# Digital Transformation Management - Programming with Python

## Advanced Data Structures - Sets

**Exercise 0**

Write a python function that, using set comprehension, returns a set containing integers from n1 to n2

In [1]:
def create_list(n1, n2):
    return [x for x in range(n1,n2)]

**Exercise 1**

Using the function implemented in exercise 0, create:
- a variable 's1' that contains numbers from 0 to 20
- a variable 's2' that contains numbers from 10 to 50

In [4]:
s1 = create_list(0, 20)
s2 = create_list(10, 50)
print(s1, '\n', s2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

**Exercise 2**

Write a python program that, given s1 and s2, computes:
- The intersection
- The union
- The difference
- The symmetric difference

In [6]:
s1 = set(s1)
s2 = set(s2)
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49}

## Advanced Data Structures - Dictionaries

**Exercise 1**

Write a python function that takes a string as input and returns the frequency of each word

In [11]:
def word_frequency(l):
    f = {}
    for word in l.split():
        if(word in f.keys()):
            f[word] += 1
        else:
            f[word] = 1
    return f

In [12]:
word_frequency("ciao come stai ciao come")

{'ciao': 2, 'come': 2, 'stai': 1}

**Exercise 2**

Write a python program that provides the user with the following features:
- Add a new exam passed with the related grade
- Check if a specified exam is already present
- Compute the average grade

In [18]:
def add_exam(db, name, grade):
    db[name] = grade
    return db

def check_exam(db, name):
    return name in db.keys()

def compute_avg(db):
    return sum(db.values())/len(db.values())

In [19]:
exit = False
db = {}
while not exit:
    a = int(input(
"""
1--> Add new exam 
2--> Check exam 
3--> Compute average grade
4--> Exit
Choose an action:
"""))
    if a == 1:
        name = input("Insert exam name:")
        grade = int(input("Insert grade:"))
        db = add_exam(db, name, grade)
        print(db)
    elif a == 2:
        name = input("Insert exam name:")
        f = check_exam(db, name)
        print(f)
    elif a == 3:
        avg = compute_avg(db)
        print(avg)
    else:
        exit = True

1--> Add new exam
2--> Check exam
3--> Compute average grade
4--> Exit
Choose an action:
 1
Insert exam name: oop
Insert grade: 30

{'oop': 30}

1--> Add new exam
2--> Check exam
3--> Compute average grade
4--> Exit
Choose an action:
 1
Insert exam name: lss
Insert grade: 26

{'oop': 30, 'lss': 26}

1--> Add new exam
2--> Check exam
3--> Compute average grade
4--> Exit
Choose an action:
 3

28.0

1--> Add new exam
2--> Check exam
3--> Compute average grade
4--> Exit
Choose an action:
 4

## More exercises

**Exercise 1**

Create, by using list comprehension, the following list of integer numbers: the cubes of numbers n from 0 to 200 such that n is prime

In [20]:
import math
def is_prime(a):
    bound = math.ceil(math.sqrt(a))
    for i in range(2, bound):
        if a % i == 0:
            return False
    return True

In [21]:
[n**3 for n in range(200) if is_prime(n)]

[0,
 1,
 8,
 27,
 64,
 125,
 343,
 729,
 1331,
 2197,
 4913,
 6859,
 12167,
 15625,
 24389,
 29791,
 50653,
 68921,
 79507,
 103823,
 117649,
 148877,
 205379,
 226981,
 300763,
 357911,
 389017,
 493039,
 571787,
 704969,
 912673,
 1030301,
 1092727,
 1225043,
 1295029,
 1442897,
 1771561,
 2048383,
 2248091,
 2571353,
 2685619,
 3307949,
 3442951,
 3869893,
 4330747,
 4657463,
 4826809,
 5177717,
 5735339,
 5929741,
 6967871,
 7189057,
 7645373,
 7880599]

**Exercise 2**

Write a Python function called calculate that takes two lists of integer numbers as parameters. The function must return a list of tuples (n1, n2) with the same length of the input lists, where:
- n1 is the sum of the corresponding numbers in the lists
- n2 is the product of the corresponding numbers in the lists

For example: calculate([2, 1, 3],[-3, 2, 5]) --> [(-1, -6), (3, 2), (8, 15)]

In [23]:
def calculate(l1,l2):
    return [(x+y, x*y) for x,y in zip(l1,l2)]

calculate([2, 1, 3],[-3, 2, 5])

[(-1, -6), (3, 2), (8, 15)]

**Exercise 3**

Create, by using set comprehension, the following set of strings: strings inlcuding n "a" characters with n raning from 5 to 250 and being such that n is multiple of 5. 
The strings contained in the set are: 'aaaaa', 'aaaaaaaaaa', ...

In [24]:
["a"*n for n in range(5, 250) if n % 5 == 0]

['aaaaa',
 'aaaaaaaaaa',
 'aaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa']

**Exercise 4**

Write a Python function that takes two lists ('l1' and 'l2') of integer numbers as parameters and returns the list of numbers in l1 that are divisors of all numbers in l2

In [25]:
def map(l, f):
    return [f(x) for x in l]

In [26]:
def all_divisors(l1, l2):
    d = []
    for x in l1:
        check_all = map(l2, lambda y: y%x == 0)
        if all(check_all):
            d.append(x)
    return d

In [27]:
all_divisors([2, 3, 5], [10, 50, 100])

[2, 5]

**Exercise 5**

Write a Python function that takes two lists of floating poing numbers. The function must return a list of tuples (n1, n2) with the same length of the input lists, where:
- n1 is the complex number whose real and imaginary parts are the corresponding numbers in the lists
- n2 is the sum of the two corresponding numbers in the lists, multiplied by the minimum of the two

For example: calculate([1.2, 3, -2.3],[1, -1, 4]) --> [(1.2+1j, 2.2), (3-1j, -2), (-2.3+4j, -3.91)]

In [28]:
def calculate(l1, l2):
    return [(x+y*1j, (x+y) * min(x,y)) for x,y in zip(l1,l2)]

In [29]:
calculate([1.2, 3, -2.3],[1, -1, 4])

[((1.2+1j), 2.2), ((3-1j), -2), ((-2.3+4j), -3.91)]

**Exercise 6**

Create, by using set comprehension, the following set of strings: all strings being non-empty prefiexes of the world "acknowledgement" (15 letters)

In [31]:
s = "acknowledgement"
{s[:i] for i in range(1, 16)}

{'a',
 'ac',
 'ack',
 'ackn',
 'ackno',
 'acknow',
 'acknowl',
 'acknowle',
 'acknowled',
 'acknowledg',
 'acknowledge',
 'acknowledgem',
 'acknowledgeme',
 'acknowledgemen',
 'acknowledgement'}

**Exercise 7**

Write a Python function that takes a dictionary d mapping str:int and returns a tuple (k_min, k_max, v_sum), where:
- k_min is the key of the element with the smallest value
- k_max is the key of the element with the largest value
- v_sum is the sum of all the values

In [34]:
def f(d):
    k_min = min(d, key=lambda k: d[k])
    k_max = max(d, key=lambda k: d[k])
    v_sum = sum(d.values())
    return (k_min, k_max, v_sum)

In [35]:
f({"a": 2, "b": 0, "c": 10})

('b', 'c', 12)

**Exercise 8**

Write a recursive Python function that compute the sum of the first n natural numbers

In [36]:
def recursive_sum(n):
    if n == 1:
        return 1
    else:
        return n + recursive_sum(n-1)

In [39]:
recursive_sum(6)

21

**Exercise 9** 

Write a recursive Python function that takes as input two integer numbers 'b' and 'p' and returns $b^p$

In [40]:
def recursive_pow(b,p):
    if p == 0:
        return 1
    else:
        return b * recursive_pow(b,p-1)

In [43]:
recursive_pow(3,4)

81