# Digital Transformation Management - Programming with Python

## Advanced Data Structures - Sets

**Exercise 0**

Write a python function that, using set comprehension, returns a set containing integers from n1 to n2

In [ ]:
...

**Exercise 1**

Using the function implemented in exercise 0, create:
- a variable 's1' that contains numbers from 0 to 20
- a variable 's2' that contains numbers from 10 to 50

In [ ]:
...

**Exercise 2**

Write a python program that, given s1 and s2, computes:
- The intersection
- The union
- The difference
- The symmetric difference

In [ ]:
...

## Advanced Data Structures - Dictionaries

**Exercise 1**

Write a python function that takes a string as input and returns the frequency of each word

In [ ]:
...

**Exercise 2**

Write a python program that provides the user with the following features:
- Add a new exam passed with the related grade
- Check if a specified exam is already present
- Compute the average grade

In [ ]:
...

## More exercises

**Exercise 1**

Create, by using list comprehension, the following list of integer numbers: the cubes of numbers n from 0 to 200 such that n is prime

In [ ]:
...

**Exercise 2**

Write a Python function called calculate that takes two lists of integer numbers as parameters. The function must return a list of tuples (n1, n2) with the same length of the input lists, where:
- n1 is the sum of the corresponding numbers in the lists
- n2 is the product of the corresponding numbers in the lists

For example: calculate([2, 1, 3],[-3, 2, 5]) --> [(-1, -6), (3, 2), (8, 15)]

In [ ]:
...

**Exercise 3**

Create, by using set comprehension, the following set of strings: strings inlcuding n "a" characters with n raning from 5 to 250 and being such that n is multiple of 5. 
The strings contained in the set are: 'aaaaa', 'aaaaaaaaaa', ...

In [ ]:
...

**Exercise 4**

Write a Python function that takes two lists ('l1' and 'l2') of integer numbers as parameters and returns the list of numbers in l1 that are divisors of all numbers in l2

In [ ]:
...

**Exercise 5**

Write a Python function that takes two lists of floating poing numbers. The function must return a list of tuples (n1, n2) with the same length of the input lists, where:
- n1 is the complex number whose real and imaginary parts are the corresponding numbers in the lists
- n2 is the sum of the two corresponding numbers in the lists, multiplied by the minimum of the two

For example: calculate([1.2, 3, -2.3],[1, -1, 4]) --> [(1.2+1j, 2.2), (3-1j, -2), (-2.3+4j, -3.91)]

**Exercise 6**

Create, by using set comprehension, the following set of strings: all strings being non-empty prefiexes of the world "acknowledgement" (15 letters)

In [ ]:
...

**Exercise 7**

Write a Python function that takes a dictionary d mapping str:int and returns a tuple (k_min, k_max, v_sum), where:
- k_min is the key of the element with the smallest value
- k_max is the key of the element with the largest value
- v_sum is the sum of all the values

In [ ]:
...